
body {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}
header {
    background-color: rgb(9, 2, 65);
    color: white;
    padding: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
    border-bottom: 2px solid rgb(255, 172, 6);

}
.logo {
    display: flex;
    align-items: center;
    margin-left: 20px;
    text-shadow: 1px 1px 2px #aaaaaace;
    box-sizing: border-box;

}
.logo-image {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: whitesmoke;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}
.logo-text {
    align-items: center;
    font-weight: bold;
    line-height: 1.2;
    display: flex;
    font-family: 'Arial Black', Arial, sans-serif;
}
.logo h2 {
    margin-left: 0;
    font-size: 20px;
    text-shadow: 1px 1px 2px #aaa;

}
.logo1 {
    font-size: 20px;
    color: rgb(255, 172, 6);
    text-shadow: 1px 1px 2px #aaa;
    font-weight: bold;
    padding: 20px 25px;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-size: small;
    transition: color 0.3s ease, font-weight 0.3s ease, font-size 0.3s ease;
    font-family: 'Arial Black', Arial, sans-serif;
    font-weight: bold;
    padding: 8px 12px;
    border-radius: 5px;
    box-sizing: border-box;
    overflow: hidden;
    width: 100px;
    text-align: center;
    height: 30px;
    line-height: 1.5;
    backdrop-filter: blur(5px);

}
.navbar a:hover {
    color: white;
    font-weight: bold;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    height: auto;
    line-height: auto;
    padding: 8px 10px;
    border-radius: 5px;
    border-bottom: 2px solid rgb(255, 172, 6);
    font-size: large;

}
.navbar a:active {
    color: rgb(255, 172, 6);
    font-size: large;
}
.main {
    padding: 0;
    margin: 0;
    background-image: url("../image/backgroundphot.avif");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    background-attachment: fixed;
    border-radius: 5px;
    box-sizing:border-box;
    z-index: 1000;
}
.welcomed {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    padding: 60px 20px;
    position: relative;
    border-radius: 30px;
    border-bottom: 2px solid rgb(255, 172, 6);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height: 400px;
    box-sizing: border-box;
    margin-bottom: 40px;
    backdrop-filter: blur(8px);
}
.image1 {
    flex: 1;
    text-align: center;
    margin-left: 20px;
    border-radius: 10px;
    overflow: hidden;
    
}
.image1 img {
    width: 490px;
    height: auto;
    border-radius: 10px;
    margin-bottom: 0;
}
.welcome-text {
    flex: 1;
    text-align: left;
    margin-right: 20px;
    color: black;

}
.welcome-text h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: rgb(9, 2, 65);
    text-shadow: 1px 2px 2px #aaa;
    font-family: 'Arial Black', Arial, sans-serif;
    font-weight: bold;

}
.text {
    margin-bottom: 5px;
    font-size: 18px;
    line-height: 1.5;
    color: rgb(1, 1, 2);
    text-shadow: 1px 2px 2px #aaa;
}
.welcome-text p {
    font-size: 15px;
    margin-bottom: 30px;
    color: rgb(1, 1, 2);
    text-shadow: 1px 2px 2px #aaa;
    line-height: 1.5;
}
.btn {
    display: inline-block;
    padding: 5px 10px;
    font-size: 15px;
    color: white;
    background-color: rgb(9, 2, 65);
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
.btn:hover {
    padding: 5px 10px;
    background-color: rgb(255, 172, 6);
    color: rgb(2, 1, 1);
    border: 2px solid rgb(9, 2, 65);
    font-size: large;
}
.btn:active {
    background-color: rgb(235, 235, 237);
    font-size: large;
}
.lines {
    box-sizing: border-box;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    gap: 40px;
    padding: 40px;
    border-radius: 5px;
    width: 100%;
    line-height: 1.5;
}
.line{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-content: space-between;
    margin: 20px auto;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    line-height: 1.5;
    border: 2px solid rgb(255, 172, 6);
    width: 100%;
    text-align: center;
    line-height: 1.5;
    color: rgb(9, 2, 65);
    line-height: 1.5;
    font-size: 12px;
    line-height: 1.5;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.648);
    height: 205px;
    overflow: hidden;
    text-align: center;
    line-height: 1.5;
    margin-top: 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}
.line-text{
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid rgb(9, 2, 65);
}
.line p{
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    width: auto;
    color: rgb(9, 2, 65);
    font-size: 10px;
    background-color: none;
}
.line:hover{
    color: rgb(9, 2, 65);
    margin: 20px auto;
    box-sizing: border-box;
    overflow: hidden;
    width: 100%;
    text-align: center;
    height: auto;
    line-height: 1.5;
    backdrop-filter: blur(5px);
} 

.features {
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    flex-wrap: nowrap;
    gap: 80px;
    box-sizing: border-box;
    padding: 80px;
    border-radius: 5px;
    background-color: none;
}
.feature {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    border: 2px solid rgb(255, 172, 6);
    box-sizing: border-box;
    overflow: hidden;
    width: 80px;
    text-align: center;
    color: rgb(9, 2, 65);
    font-size: 20px;
    line-height: 1.5;
    height: 390px;

}
.feature:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
}
.feature h3 {
    margin-top: 0;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    padding: 10px 0;
    border-bottom: 1px solid rgb(9, 2, 65);
    box-sizing: border-box;
    overflow: hidden;
    width: 200px;
    color: rgb(9, 2, 65);
    font-size: 15px;
    line-height: 1.5;
}
.feature p {
    margin-bottom: 20px;
    line-height: 1.5;
    text-align: center;
    box-sizing: border-box;
    overflow: hidden;
    width: 200px;
    color: rgb(9, 2, 65);
    font-size: 10px;
    background-color: none;
}
.footer {
    background-color: rgb(9, 2, 65);
    text-align: center;
    padding: 10px 0;
    margin-top: 0;
    position: relative;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    border-top: 2px solid rgba(255, 172, 6, 0.591);
    line-height: 1.5;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    overflow: hidden;
    height: auto;
    line-height: 1.5;

}
.footer p {
    margin: 0;
    font-size: 14px;
    color: white;
    text-shadow: 1px 1px 2px #aaa;
    font-weight: bold;
    line-height: 1.5;
    backdrop-filter: blur(5px);

}
.footer a {
    color: rgb(255, 172, 6);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
    backdrop-filter: blur(5px);

}
.footer a:hover {
    color: white;
    text-decoration: underline;
    backdrop-filter: blur(5px);
}
.footer a:active {
    color: rgb(255, 172, 6);
    text-decoration: underline;
    backdrop-filter: blur(5px);
}
.footer .social-icons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
    backdrop-filter: blur(5px);
}
.footer .social-icons a {
    color: rgb(255, 172, 6);
    font-size: 20px;
    transition: color 0.3s ease;
    backdrop-filter: blur(5px);
}
.footer .social-icons a:hover {
    color: white;
    backdrop-filter: blur(5px);
}
.footer .social-icons a:active {
    color: rgb(255, 172, 6);
    backdrop-filter: blur(5px);
}
.footer .social-icons a i {
    vertical-align: middle;
    backdrop-filter: blur(5px);
    font-size: 20px;
    color: rgb(255, 172, 6);
    transition: color 0.3s ease;
    backdrop-filter: blur(5px);
}

@media (max-width: 1200px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: auto;
        padding: 10px 0;
        backdrop-filter: blur(5px);
        box-sizing: border-box;
        overflow: hidden;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        border-bottom: 2px solid rgb(255, 172, 6);

    }
    .logo {
        margin: 10px 0;
        justify-content: center;
        text-align: center;
        box-sizing: border-box;
        overflow: hidden;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
    
    }
    .navbar {
        margin: auto;
        text-align: center;
        box-sizing: border-box;
        overflow: hidden;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: auto;

    }
    .navbar a {
        display: flex;
        margin: 5px;
        font-size: medium;
        width: auto;
        height: auto;
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
        line-height: 1.5;
        border-radius: 5px;
        transition: color 0.3s ease, font-weight 0.3s ease, font-size 0.3s ease;
        padding: 8px 12px;
        border-radius: 5px;
        overflow: hidden;
        line-height: 1.5;
    }
    .main {
        padding: 0;
        margin: 0;
        background-image: url("../image/backgroundphot.avif");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        border-radius: 5px;
        box-sizing: border-box;
        z-index: 1000;
    }


    .welcomed {
        flex-direction: column;
        text-align: center;
        height:fit-content;
    }
    .image1, .welcome-text {
        margin: 0;
        width: 100%;
        max-width: 600px;
        margin-bottom: 20px;
        margin-bottom: none;

    }
    .image1 img {
        width: 100%;
        max-width: 600px;
        height: auto;
        border-radius: 10px;

    }
    .features {        
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
        height: auto;
        margin: 0;
    }
    .feature {
        width: 100%;
        max-width: 400px;
        margin-bottom: 20px;
        height: auto;
    }
    .lines{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 20px;
        height: auto;
        margin: 0;
    }
    .line{
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;
        height: auto;
    }

}
@media (max-width: 768px) {
    header {
        flex-direction: column;
        height: auto;
        padding: 10px 0;

    }
    .logo {
        margin: 10px 0;
        justify-content: center;
        text-align: center;
        box-sizing: border-box;
        overflow: hidden;
        width: 100%;
        height: auto;
        margin-bottom: 10px;

    }
    .navbar {
        margin: auto;
        text-align: center;
        box-sizing: border-box;
        overflow: hidden;
        width: 100%;
        height: auto;
        margin-bottom: 10px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: auto;

    }
    .navbar a {
        display: flex;
        flex-direction: column;
        margin: 5px;
        font-size: medium;
        width: auto;
        height: auto;
        box-sizing: border-box;
        overflow: hidden;
        text-align: center;
        line-height: 1.5;
        border-radius: 5px;
        transition: color 0.3s ease, font-weight 0.3s ease, font-size 0.3s ease;
        padding: 8px 12px;
        border-radius: 5px;
        overflow: hidden;
        line-height: 1.5;
    }
    .welcomed {
        flex-direction: column;
        text-align: center;
        margin: 0;
        padding: 20px;
        border-radius: 5px;
        box-sizing: border-box;
        overflow: hidden;
        width: 100%;
        height:fit-content;
        margin-bottom: 20px;
        backdrop-filter: blur(5px);

    }
    .image1, .welcome-text {
        margin: 0;
        width: 100%;
        max-width: 400px;
        margin-bottom: 20px;

    }
    .image1 img {
        width: 100%;
        max-width: 400px;
        height: auto;
        border-radius: 10px;

    }
    .features {
        flex-direction: auto;
        align-items: center;
        gap: 20px;
        padding: 20px;
        height: auto;
        margin: 0;
        box-sizing: border-box;
        padding: 20px;
        border-radius: 5px;
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        margin-bottom: 40px;

    }
    .feature {
        width: 100%;
        max-width: 300px;
        margin-bottom: 20px;
        height: auto;
        box-sizing: border-box;
        overflow: hidden;
        width: 100%;
        max-width: 300px;
        text-align: center;
        color: rgb(9, 2, 65);
        font-size: 15px;
        line-height: 1.5;
        backdrop-filter: blur(5px);
        height: auto;
        margin-bottom: 20px;
        margin: 0 auto;
    }

}